<h3>New user</h3>

<%= form_for(@user, builder: Judge::FormBuilder) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, validate: true %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, validate: true %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, validate: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'New user', new_user_path(@user) %>


<script language="JavaScript">
  var frm = $('#new_user');
  var formValid;

  $(frm).submit(function(e){
    e.preventDefault();

    formValid = true;

    judge.validate(document.getElementById('user_name'),{
      valid: function(element){
        element.style.border = '';
        $(element).parent().find('.field_with_errors').remove();
      },
      invalid: function(element, messages) {
        element.style.border = '1px solid red';
        $(element).parent().find('.field_with_errors').remove();
        $(element).after('<p class="field_with_errors">' + messages.join(',') + '</p>');
        formValid = false;
      }
    });

    judge.validate(document.getElementById('user_password'),{
      valid: function(element){
        element.style.border = '';
        $(element).parent().find('.field_with_errors').remove();
      },
      invalid: function(element, messages) {
        element.style.border = '1px solid red';
        $(element).parent().find('.field_with_errors').remove();
        $(element).after('<p class="field_with_errors">' + messages.join(',') + '</p>');
        formValid = false;
      }
    });

    judge.validate(document.getElementById('user_email'),function(element, status, messages){
      if(status == 'valid'){
        element.style.border = '';
        $(element).parent().find('.field_with_errors').remove();
      }else if(status == 'invalid'){
        element.style.border = '1px solid red';
        $(element).parent().find('.field_with_errors').remove();
        $(element).after('<p class="field_with_errors">' + messages.join(',') + '</p>');
        formValid = false;
      }
    });

    if(formValid){
      $(frm).unbind('submit');
      $(frm).submit();
    }
  });
</script>
