<h3>New user</h3>

<%= form_for(@user, builder: Judge::FormBuilder) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, validate: true, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, validate: true, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, validate: true, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'New user', new_user_path(@user) %>


<script language="JavaScript">
  judgeValidateForm($('#new_user'));

  function asyncValidateInput(elm) {
    var dfd = new $.Deferred();

    var q = judge.validate(elm,function(element, status, messages){
      if(status == 'valid'){
        element.style.border = '';
        $(element).parent().find('.field_with_errors').remove();
        dfd.resolve();
      }else if(status == 'invalid'){
        element.style.border = '1px solid red';
        $(element).parent().find('.field_with_errors').remove();
        $(element).after('<p class="field_with_errors">' + messages.join(',') + '</p>');
        dfd.reject();
      }
    });

    if(q.validations.length == 0){
      dfd.resolve();
    }

    return dfd;
  }

  function judgeValidateForm(frm) {
    $(frm).submit(function (e) {
      e.preventDefault();

      $(frm).find('.field_with_errors').remove();

      var defers = [];

      $(frm).find('.form-control').each(function (idx, elm) {
        defers.push(asyncValidateInput(elm));
      });

      $.when.apply($, defers).done(function() {
        $(frm).unbind('submit');
        $(frm).submit();
      });
    });
  }
</script>
